.tópicos {
    background: var(--azul-gradient);
    text-align: center;
}

.tópicos__titulo {
    color: var(--branco);
    font-weight: 300;
    padding: 1em 0;
    text-transform: uppercase;
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__item {
    margin: 2em 0.5em;
}

.tópicos__link {
    color: var(--branco);
    padding: 1em;
    text-decoration: none;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .tópicos {
        padding: 2em;
    }
    .tópicos__titulo {
        font-size: 24px;
    }
    .tópicos__link {
        font-size: 20px;
    }
    .tópicos__item {
        margin: 2em 0.5em;
    }
}

@media screen and (min-width: 1728px) {
    .tópicos {
        padding: 3em 30vw;
    }
}